* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trf {
  transform: translateZ(20px);
  transition: all 0.75s ease-out;
}

.container {
  perspective: 1000px;
}
.container .card_sixth {
  border-radius: 8px;
  box-shadow: 1px 15px 12px 13px rgba(0, 0, 0, 0.16);
  background-color: #003975;
}
.container .card_sixth .card_fifth {
  border-radius: 8px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #012954;
  overflow: hidden;
  width: 328px;
  height: 264px;
  position: relative;
}
.container .card_sixth .card_fifth .card_fourth {
  border-radius: 8px;
  background-image: url(../assets/fourth.jpg);
  background-repeat: no-repeat;
  background-position: inherit;
  background-size: cover;
  width: 470px;
  height: 327px;
  position: absolute;
  margin-left: -60px;
  margin-top: -20px;
}
.container .card_sixth .card_fifth .card_third {
  border-radius: 8px;
  background-image: url(../assets/third.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  width: 470px;
  height: 327px;
  position: absolute;
  left: -60px;
}
.container .card_sixth .card_second {
  border-radius: 8px;
  background-image: url(../assets/second.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  position: absolute;
  top: 0;
  width: 100%;
  height: 264px;
}
.container .card_sixth .card_second .card_first {
  padding: 16px;
}
.container .card_sixth .card_second .card_first .heading_wrap {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  margin-bottom: 76px;
}
.container .card_sixth .card_second .card_first .heading_wrap .row_left {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column;
}
.container .card_sixth .card_second .card_first .heading_wrap .row_left .txt_1 {
  font-family: "Roboto-Regular";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.container .card_sixth .card_second .card_first .heading_wrap .row_left .txt_2 {
  opacity: 0.6;
  font-family: "Roboto-Medium";
  font-size: 10px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.container .card_sixth .card_second .card_first .info_warp .sec_1 {
  display: flex;
  align-items: baseline;
  margin-bottom: 18px;
}
.container .card_sixth .card_second .card_first .info_warp .sec_1 .txt_amount_1 {
  font-family: "Roboto-Black";
  font-size: 28px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-right: 8px;
}
.container .card_sixth .card_second .card_first .info_warp .sec_1 .txt_amount_2 {
  opacity: 0.9;
  font-family: "Roboto-Medium";
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-right: 4px;
}
.container .card_sixth .card_second .card_first .info_warp .sec_1 .txt_amount_3 {
  opacity: 0.9;
  font-family: "Roboto-Regular";
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.container .card_sixth .card_second .card_first .info_warp .sec_2 {
  display: flex;
}
.container .card_sixth .card_second .card_first .info_warp .sec_2 .left_sec {
  margin-right: 40px;
}
.container .card_sixth .card_second .card_first .info_warp .sec_2 .left_sec .days_gain_loss {
  opacity: 0.7;
  font-family: "Roboto-Regular";
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-bottom: 4px;
}
.container .card_sixth .card_second .card_first .info_warp .sec_2 .left_sec .amt_count_sec {
  display: flex;
  align-items: baseline;
}
.container .card_sixth .card_second .card_first .info_warp .sec_2 .left_sec .amt_count_sec .profit_first {
  margin-right: 4px;
}
.container .card_sixth .card_second .card_first .info_warp .sec_2 .left_sec .amt_count_sec .amt_first {
  font-family: "Roboto-Medium";
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-right: 6px;
}
.container .card_sixth .card_second .card_first .info_warp .sec_2 .left_sec .amt_count_sec .perc_first {
  display: flex;
}
.container .card_sixth .card_second .card_first .info_warp .sec_2 .left_sec .amt_count_sec .perc_first .perc_first_1 {
  font-family: "Roboto-Regular";
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #7ac768;
}
.container .card_sixth .card_second .card_first .info_warp .sec_2 .left_sec .amt_count_sec .perc_first .perc_first_2 {
  font-family: "Roboto-Regular";
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #7ac768;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.3);
}
.container .card_sixth .card_second .card_first .info_warp .sec_2 .right_sec .total_gain_loss {
  opacity: 0.7;
  font-family: "Roboto-Regular";
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-bottom: 4px;
}
.container .card_sixth .card_second .card_first .info_warp .sec_2 .right_sec .days_count_sec {
  display: flex;
  align-items: baseline;
}
.container .card_sixth .card_second .card_first .info_warp .sec_2 .right_sec .days_count_sec .profit_first {
  margin-right: 4px;
}
.container .card_sixth .card_second .card_first .info_warp .sec_2 .right_sec .days_count_sec .days_first {
  font-family: "Roboto-Medium";
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-right: 6px;
}
.container .card_sixth .card_second .card_first .info_warp .sec_2 .right_sec .days_count_sec .perc_first {
  display: flex;
}
.container .card_sixth .card_second .card_first .info_warp .sec_2 .right_sec .days_count_sec .perc_first .perc_first_1 {
  font-family: "Roboto-Regular";
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #7ac768;
}
.container .card_sixth .card_second .card_first .info_warp .sec_2 .right_sec .days_count_sec .perc_first .perc_first_2 {
  font-family: "Roboto-Regular";
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #7ac768;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.3);
}
.container .card_sixth .card_second .card_first .info_warp .sec_3 {
  opacity: 0.3;
  font-family: "Roboto-Regular";
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-top: 8px;
}
.container .card_sixth .card_second .card_first .info_warp .sec_4 {
  text-align: center;
}

/*# sourceMappingURL=mystyle.css.map */
