<ion-header>
  <ion-toolbar>
    <ion-title>mt-cd</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="card_sixth">
      <div class="card_fifth">
        <div class="card_fourth">


        </div>

        <div class="card_third" id="mountains">

        </div>

      </div>
      <div class="card_second">

        <div class="card_first">
          <div class="heading_wrap">
            <div class="row_left">
              <div class="txt_1 trf">Your overall portfolio</div>
              <div class="txt_2 trf">15 Aug 2019, 7:32 PM</div>
            </div>
            <div class="row_right">
              <img src="assets/lock.svg" alt="" class="lock_img trf" />
            </div>
          </div>
          <div class="info_warp">
            <div class="sec_1">
              <div class="txt_amount_1 trf">
                ₹ 12,50,000
              </div>
              <div class="txt_amount_2 trf">
                / ₹ 10,00,000
              </div>
              <div class="txt_amount_3 trf">
                invested
              </div>
            </div>
            <div class="sec_2">
              <div class="left_sec">
                <div class="days_gain_loss trf">1-day gain/loss</div>
                <div class="amt_count_sec">
                  <img src="assets/profit-arrow.svg" alt="" class="profit_first trf">
                  <div class="amt_first trf">₹ 5,000</div>
                  <div class="perc_first">
                    <div class="perc_first_1 trf">0.01%</div>
                    <div class="perc_first_2 trf">*</div>
                  </div>
                </div>
              </div>
              <div class="right_sec">
                <div class="total_gain_loss trf">1-day gain/loss</div>
                <div class="days_count_sec">
                  <img src="assets/profit-arrow.svg" alt="" class="profit_first trf">
                  <div class="days_first trf">₹ 5,000</div>
                  <div class="perc_first">
                    <div class="perc_first_1 trf">0.01%</div>
                    <div class="perc_first_2 trf">*</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sec_3 trf">
              * Absolute returns
            </div>
            <div class="sec_4 trf">
              <img src="assets/down.svg" alt="">
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

</ion-content>
